body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#root {
    background-color: #111
}

@font-face {
    font-family: goldfish;
    font-style: normal;
    font-weight: 400;
    src: url(./assets/VIDEOPHREAK.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box
}

#root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    overflow: hidden;
    height: 45vw;
    width: 60vw;
}



html #root {
    color: #EEE;
    font-family: goldfish
}
